<div ng-if="$ctrl.errorOccurred">
  <%= _('Report data could not load due to an error. Please try again or contact support.') %>
</div>

<div ng-if="!$ctrl.errorOccurred" class="table">
  <div ng-repeat="(currency, donationsByContactId) in $ctrl.donationsByCurrencyAndContactId"
    ng-init="currencySymbol = $ctrl.currencySymbols[currency]">
    <h2>{{currency}} ({{currencySymbol}})</h2>

    <table>
      <tr>
        <td></td>
        <td ng-repeat="(year, monthCount) in $ctrl.yearsWithMonthCounts"
          colspan="{{monthCount}}">
          {{year}}
        </td>
      </tr>
      <tr>
        <td></td>
        <td ng-repeat="pastMonth in $ctrl.pastMonthDates">
          {{pastMonth | date : 'MMM'}}
        </td>
      </tr>
      <tr ng-repeat="(contact_id, donations) in donationsByContactId"
          ng-init="donor = $ctrl.donorsById[contact_id][0]">
        <td>{{donor.name}}</td>
        <td ng-repeat="(monthsAgo, monthlyTotal) in $ctrl.monthlyTotals(donations)">
          <div ng-if="monthlyTotal > 0.0">
            {{currencySymbol}}{{monthlyTotal | number : 0}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
