<h2><%= _('Contributions by Donor Currency') %></h2>
<div ng-if="$ctrl.errorOccurred">
  <%= _('Report data could not load due to an error. Please try again or contact support.') %>
</div>

<div ng-if="$ctrl.loading">
  <%= _('Loading data...') %>
</div>

<div ng-if="!$ctrl.errorOccurred" style="width: 100%; display: block">
  <span ng-repeat="currencyAggregate in $ctrl.currencyAggregates | orderBy: 'convertedPercent' : true"
        style="color: white; text-align: center; width: {{currencyAggregate.convertedPercent}}%; display: block; float: left"
        class="currency-color-{{$index}}"
        title="{{currencyAggregate.tooltip}}"
        data-toggle="tooltip" data-placement="bottom">
    {{currencyAggregate.currency}} ({{currencyAggregate.currencySymbol}})
  </span>
</div>

<div ng-if="!$ctrl.errorOccurred">
  <div ng-repeat="(currency, donorsAndDonations) in $ctrl.donorsAndDonationsByCurrency"
    ng-init="currencySymbol = $ctrl.currencySymbols[currency]">
    <h2>{{currency}} ({{currencySymbol}})</h2>

    <table class="table">
      <tr>
        <td></td>
        <td ng-repeat="(year, monthCount) in $ctrl.yearsWithMonthCounts"
          colspan="{{monthCount}}">
          <h4>{{year}}</h4>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td ng-repeat="pastMonth in $ctrl.pastMonthDates">
          <b>{{pastMonth | date : 'MMM'}}</b>
        </td>
        <td><b><%= _('Total') %></b></td>
      </tr>
      <tr ng-repeat="donorAndDonations in donorsAndDonations | orderBy : 'donor.name'"
          ng-init="donor = donorAndDonations.donor">
        <td>
          <a href="/contacts/{{donor.id}}"
             title="{{donorAndDonations.tooltip}}"
             data-toggle="tooltip" data-placement="bottom"
                                   >{{donor.name}}</a>
          <span ng-if="donor.late_by_30_days" class="late-by-30-days"></span>
          <span ng-if="donor.late_by_60_days" class="late-by-60-days"></span>
        </td>
        <td ng-repeat="(monthIndex, monthlyTotal) in donorAndDonations.amountsByMonthsAgo">
          <div ng-if="monthlyTotal > 0.0">
            {{currencySymbol}}{{monthlyTotal | number : 0}}
          </div>
        </td>
        <td>
          <b>{{currencySymbol}}{{donorAndDonations.total | number : 0}}</b>
        </td>
      </tr>
      <tr>
        <td></td>
        <td ng-repeat="(monthIndex, monthlyTotal) in $ctrl.currencyMonthlyTotals[currency]">
          <b>{{currencySymbol}}{{monthlyTotal | number : 0}}</b>
        </td>
      </tr>
    </table>
  </div>
</div>
