<h2><%= _('Contributions by Donor Currency') %></h2>
<div ng-if="$ctrl.errorOccurred">
  <%= _('Report data could not load due to an error. Please try again or contact support.') %>
</div>

<div ng-if="$ctrl.loading">
  <%= _('Loading data...') %>
</div>

<div ng-if="!$ctrl.errorOccurred" class="table">
  <div ng-repeat="(currency, donorsAndDonations) in $ctrl.donorsAndDonationsByCurrency"
    ng-init="currencySymbol = $ctrl.currencySymbols[currency]">
    <h2>{{currency}} ({{currencySymbol}})</h2>

    <table class="table">
      <tr>
        <td></td>
        <td ng-repeat="(year, monthCount) in $ctrl.yearsWithMonthCounts"
          colspan="{{monthCount}}">
          <h4>{{year}}</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td ng-repeat="pastMonth in $ctrl.pastMonthDates">
          <b>{{pastMonth | date : 'MMM'}}</b>
        </td>
      </tr>
      <tr ng-repeat="donorAndDonations in donorsAndDonations | orderBy : 'donor.name'"
          ng-init="donor = donorAndDonations.donor">
        <td>
          <a href="/contacts/{{donor.id}}"
             title="{{donorAndDonations.tooltip}}"
             data-toggle="tooltip" data-placement="bottom"
          >{{donor.name}}</a>
        </td>
        <td ng-repeat="(monthsAgo, monthlyTotal) in donorAndDonations.amountsByMonthsAgo">
          <div ng-if="monthlyTotal > 0.0">
            {{currencySymbol}}{{monthlyTotal | number : 0}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
