<p>
  <%= format(_('%{org_name} said we have the wrong password for your account.'), org_name: @account.organization.name) %>
</p>

<p>
  <% url = WebRouter.integration_preferences_url('organization') %>
  <%= format(_('Please try updating it here: %{link}'), link: link_to(url, url)).html_safe %>
</p>

<p>
  <%= _('Thanks!') %>
  <br>
  <%= _('MPDX Support Team') %>
</p>
