<p>
  <%= _('%{org_name} said we have the wrong password for your account.') %>
</p>

<p>
  <%= _('Please try updating it here: %{link}').localize % { org_name: @account.organization.name, link: WebRouter.integration_preferences_url('organization') } %>
</p>

<p>
  <%= _('Thanks!') %>
  <br>
  <%= _('MPDX Support Team') %>
</p>
