<p><%= format(_('MPDX has finished importing your %{source} contacts.'), source: @import.user_friendly_source) %></p>

<% if @successes %>
  <p>
    <%= format(_('%{number_of_successful_contacts} contacts imported successfully.'),
               number_of_successful_contacts: @successes) %>
  </p>
<% end %>

<p>
  <%= _('Thanks!') %>
  <br>
  <%= _('MPDX Support Team') %>
</p>
