app/assets/javascripts/bootstrap.min.js

app/assets/javascripts/angular/components/appeals/appeal.component.js
app/assets/javascripts/angular/components/tasks/tasks.component.js
app/assets/javascripts/angular/controllers/taskShortList.js
app/assets/javascripts/angular/directives/taskFollowupDialog.js
app/assets/javascripts/angular/services/urlParameter.js
app/assets/javascripts/bootstrap-tagsinput.js
app/assets/javascripts/jquery.are-you-sure.js
app/assets/javascripts/jquery.dialogOptions.js
app/assets/javascripts/typeahead.jquery.js
