sudo: false
cache:
  bundler: true
  directories:
    - node_modules
    - cache
    - travis-phantomjs
language: ruby
services:
- redis-server
before_install:
- nvm install node
- "export PATH=$PWD/travis_phantomjs/phantomjs-2.1.1-linux-x86_64/bin:$PATH"
- "if [ $(phantomjs --version) != '2.1.1' ]; then rm -rf $PWD/travis_phantomjs; mkdir -p $PWD/travis_phantomjs; fi"
- "if [ $(phantomjs --version) != '2.1.1' ]; then tar -xvf $PWD/bin/phantomjs-2.1.1-linux-x86_64.tar.bz2 -C $PWD/travis_phantomjs; fi"
- mkdir -p node_modules
- rm -rf node_modules/phantomjs/
- npm install
before_script:
- psql -c 'create database mpdx_test;' -U postgres
- psql -c 'create database mpdx_test2;' -U postgres
- psql -U postgres -q -d mpdx_test -f db/structure.sql
- psql -U postgres -q -d mpdx_test2 -f db/structure.sql
script:
- bin/travis_parallel_test.sh
- bundle exec rake coveralls:push
- bin/travis_rubocop_or_karma.sh
after_success:
- bash <(curl -s https://codecov.io/bash)
branches:
  only:
  - master
env:
  matrix:
    - TEST_SUITE=1
    - TEST_SUITE=2
