<div class="field email_field form-inline" data-behavior="field-wrapper">
  <div class="form-group">
    <%= builder.select :related_person_id, (current_account_list.active_people.reorder('last_name, first_name') - [object]).collect {|c| [c.to_s_last_first, c.id]}, {include_blank: true}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= builder.select :relationship, Person::RELATIONSHIPS_MALE.collect {|t| _(t)} + Person::RELATIONSHIPS_FEMALE.collect {|t| _(t)}, {include_blank: true}, class: 'form-control'  %>
  </div>
</div>
