<div class="field social_field form-inline" data-behavior="field-wrapper social-field" data-network="linkedin">
  <div class="form-group">
      <% if current_user.linkedin_account %>
        <%= builder.text_field :url, placeholder: 'http://', class: 'form-control' %>
      <% else %>
        <%= link_to(_('You need to setup LinkedIn first'), '/auth/linkedin') %>
      <% end %>
  </div>
  <div class="form-group">
    <%= link_to_remove_fields(builder) %>
  </div>
</div>

