<span class="actions task-actions" style="display:none">
  <%= link_to(_('Complete Selected'), '#', class: 'btn btn-xs btn-secondary', data: {behavior: 'bulk_complete'}, 'ng-hide' => 'g.filter == "history"') %>
  <%= link_to(_('Delete Selected'), '#', class: 'btn btn-xs btn-secondary', data: {behavior: 'bulk_delete'}) %>
  <%= link_to(_('Edit Selected'), '#', class: 'btn btn-xs btn-secondary', data: {behavior: 'bulk_edit'}) %>
</span>
