<h3><%= _("Task scheduled for #{ l(@task.start_at) }:") %></h3>
<%= @task.subject %>

<%= _('You are getting this notification from MPDX because you selected the notification option on your task details.') %>
