<p>
  <%= format(_("The link between MPDX and your Google account has stopped working. If you'd like to continue to have MPDX
  automatically sync with your Google account, please go to %{link} and click on 'Edit', 'Setup',
  and then click the 'Refresh Google Account' button.  After that, you'll need to manually re-enable any integrations
  that you had set already."), link: link_to(_('Google Integration Settings'), WebRouter.integration_preferences_url('google'))) %>
</p>

<p>
  <%= _('Thanks!') %>
  <br />
  <%= _('MPDX Support Team') %>
</p>
