<p>
<%=
  _("The mailchimp API key associated with your MPDX account is no longer valid.
If you would like Mailchimp syncronization to continue to work, please go to
 %{link} and update your API key.") %
      { link: link_to(_('MailChimp Integration Settings'), WebRouter.integration_preferences_url('mailchimp')) }
%>
</p>

<p>
  <%= _('Thanks!') %>
  <br />
  <%= _('MPDX Support Team') %>
</p>
