<div id="late-partners-dialog" style="display:none">
  <% late_by_30 = current_account_list.contacts.late_by(31.days, 60.days) %>
  <% if late_by_30.length > 0 %>
  <h4><%= _('Partners more than 30 days late') %></h4>
  <ul>
    <% late_by_30.each do |contact| %>
      <% contact_exhibit = exhibit(contact, self) %>
      <li><%= link_to(contact_exhibit, contact) %></li>
    <% end %>
  </ul>
  <% end %>

  <% late_by_60 = current_account_list.contacts.late_by(60.days) %>
  <% if late_by_60.length > 0 %>
  <h4><%= _('Partners more than 60 days late') %></h4>
  <ul>
    <% late_by_60.each do |contact| %>
      <% contact_exhibit = exhibit(contact, self) %>
      <li><%= link_to(contact_exhibit, contact) %></li>
    <% end %>
  </ul>
  <% end %>
</div>
