<div ng-show="!vm.preferences.loading" ng-hide="vm.preferences.data.account_lists.length <= 1">
  <%= _('You are currently editing settings for') %>
  <select ng-model="vm.preferences.account_list_id" class="form-control" style="width: 100%;">
    <option ng-repeat="option in vm.preferences.data.account_lists" value="{{option.id}}">{{option.name}}</option>
  </select>
  <br />
</div>
