<div ng-show="!vm.preferences.loading">
  <div id="contentbody" class="withleft">
    <div class="wpp">
      <div class="row">
        <div class="col-md-12">
          <div class="page-filters">
            <h2><%= _('Imports Contacts') %></h2>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="panel-group" id="accounts-group">
        <div class="panel panel-default pref-panel">
          <div class="panel-heading pref-head" ng-click="vm.setTab('tnt')">
            <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('tnt') }"></i>
              TntConnect
            <div class="pull-right pref-head-desc">
                Import Contacts from TntConnect
            </div>
          </div>
          <div class="panel-animate" ng-show="vm.tabSelected('tnt')">
            <div class="panel-body pref-body">
              <div class="row pref-row">
                <div class="col-md-4 pref-lead">
                  <div class="import_logo">
                    <%= image_tag("logos/tnt_logo.png", alt: 'TntConnect') %> TntConnect
                  </div>
                </div>
                <div class="col-md-8 connections" data-behavior="account">
                    <div class="import_button">
                      <div class="importoptions" data-behavior="import_options">
                        <%= render "angular/preferences/imports/tnt_import_form" %>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default pref-panel">
          <div class="panel-heading pref-head" ng-click="vm.setTab('csv')">
            <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('csv') }"></i>
            Excel and CSV File
            <div class="pull-right pref-head-desc">
              Import Contacts from Excel or Pages
            </div>
          </div>
          <div class="panel-animate" ng-show="vm.tabSelected('csv')">
            <div class="panel-body pref-body">
              <div class="row pref-row">
                <div class="col-md-4 pref-lead">
                  <div class="import_logo">
                    .CSV File
                  </div>
                </div>
                <div class="col-md-8 connections" data-behavior="account">
                    <div class="import_button">
                      <div class="importoptions" data-behavior="import_options">
                        <%= render "angular/preferences/imports/csv_import_form" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
