<p>
  We wanted to update you on the progress of the MPDX & MailChimp issues. We have done some work to
  help fix your newsletter list in your following account:
</p>
<p>
  <span style='font-weight: bold'><%= @account_list_name %></span>
</p>
<p>
  Since we last communicated with you our top priority has been restoring your newsletter list as
  accurately as possible. As of today, we have worked up a couple of solutions to help accomplish
  this. We are asking you, however, to log into MPDX and check our work. Once you have done that,
  you should be ready to start using MPDX and MailChimp to send your email newsletters again.
</p>
<p>
  By looking at your past MailChimp campaigns and your contacts in MPDX,
  <span style='font-weight: bold'>we updated <%= @fixed_count %> of your contacts in MPDX </span>
  by adding them to your newsletter list and changing their “Opt Out of Email Newsletter”
  preference. For any contact we updated, we also added the tag “MailChimp Updates”.
  <span style='font-weight: bold'>We are asking that you go look at the contacts with this tag and
  make sure we have updated them properly</span>
  (<a href="https://mpdx.helpscoutdocs.com/article/402-howtocheckmpdxlist">help me do this</a>).
</p>
<a href="https://mpdx.helpscoutdocs.com/article/402-howtocheckmpdxlist">
  If you would like more details about what we did and how we did it, please click here.
</a><br />
<p>
  We want to say again how sorry we are about this. Like you, we are supported staff and depend on
  MPDX as well. We feel the pain of having to check our own Newsletter Lists to make sure our
  Partners are getting the communication from us they expect. Our primary aim is to make MPDX a tool
  that you can trust.
</p>
<p>Sincerely,</p>
<p>
  Your MPDX Team<br>
  support@mpdx.org
</p>
