<% if @import.source == 'csv' %>
  <script type="text/javascript">$.mpdx.import_id = <%= @import.id %>;</script>
  <div id="csv_import_preview">
    <%= _('Preparing preview. This takes some time if you have a large file ...') %>
    <%= spinner(visible: true) %>
  </div>
  <div id="csv_preview_err" style="display:none">
    <%= _('Error loading CSV import preview. The MPDX team has been notified. If the problem persists please click "Help" above and submit a request.') %>
  </div>
<% end %>
