<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><%= _('Thanks!') %></h2>
    <p>
        <%= _('Thank you for suggesting we can make MPDX a better tool. We will take your ' +
              "suggestion into consideration and add it to MPDX's project tool.") } %>
    </p>
  </div>
</div>
