<h2><%= _('Admin Console') %></h2>
<br/>
<p><%= link_to(_('North Star Report'), status_index_path, class: 'btn btn-primary') %></p>

<%= render('impersonate_user') %>
<br/>

<%= render('new_offline_org') %>
