<div id="exceptionsContainer" class="collapse">
  <div class="panel panel-default panel-except-container">
    <div class="panel-body">
      <div ng-repeat="i in [1, 2, 3, 4]" class="panel panel-default panel-exception">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 add-space">
              <p>
                <a href="" class="add-cta btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i></a>
                <Strong>Full Name</Strong>
              </p>
              <p>
                Partner - Financial<br/>
                $100.00/mo
              </p>
            </div>
            <div class="col-md-3">
              <P>
                <strong>Reason for Exception:</strong>
              </P>
              <ul>
                <li>12 month lapse</li>
                <li>Do not ask</li>
              </ul>

            </div>
            <div class="col-md-6">
              <table class="table table-condensed table-bordered table-summary">
                <thead>
                  <tr>
                    <td>June '16</td>
                    <td>June '16</td>
                    <td>June '16</td>
                    <td>June '16</td>
                    <td>June '16</td>
                    <td>June '16</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>$1000</td>
                    <td>$1000</td>
                    <td>$1000</td>
                    <td>$1000</td>
                    <td>$1000</td>
                    <td>$1000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
