<div ng-class="{'show-all': show_all}">
    <a ng-repeat="appeal in appeals | orderBy:'created_at':true"
       class="appeal-single {{progressClass(appeal)}}"
       href="/appeals/{{appeal.id}}">
         <div class="dash-stat">
            <span class="progress-total-donations count-big">
                {{donationAggregates(appeal.donations).sum | currency : current_currency_symbol : 0}}
            </span>
            /{{appeal.amount | currency : current_currency_symbol : 0}}
        </div>
        <div class="dash-progress">
            <div class="progress-bar"
                 ng-style="{'width': percentComplete(appeal) + '%'}"></div>
            <span class="progress-count"
                  ng-class="{'progress-count-inside': percentComplete(appeal) > 80}">
                  {{percentComplete(appeal)}}%
            </span>
        </div>
        {{appeal.name}}
    </a>
</div>
<a href="" class="see-all" ng-show="appeals.length > 2 && !show_all" ng-click="show_all = true">
    <i class="fa fa-plus-square-o"></i> <%= _('See all {{appeals.length}} Appeals') %>
</a>
<a href="" class="see-all" ng-show="appeals.length > 2 && show_all" ng-click="show_all = false">
    <i class="fa fa-minus-square-o"></i> <%= _('See less appeals') %>
</a>
<div class="seemore">
    <button ng-click="newAppeal()" class="btn btn-primary btn-sm"><%= _('Create New Appeal') %></button>
</div>
