<div class="sfield email_field">
  <div class="field">
    <%= builder.label :contact_id, _('Related To') %>
    <%= builder.select :contact_id, current_account_list.active_contacts.order('name').map {|c| [c.to_s, c.id]}, include_blank: true %>
  </div>
</div>

