<div id="mpd_progress_bar">
    <div class="bar bar-pledged" style="width: <%= current_account_list.pledged_percent %>%"></div>
    <% if $rollout.active?(:new_progress_bar, current_account_list) %>
      <div class="bar bar-received" style="width: <%= current_account_list.in_hand_percent %>%"></div>
    <% end %>
    <span class="value <% if current_account_list.in_hand_percent < 60 %>right<% end %>">
      <%= "#{current_account_list.in_hand_percent}%/" if $rollout.active?(:new_progress_bar, current_account_list) %>
      <%= current_account_list.pledged_percent %>%
    </span>
</div>
